{% extends 'google-auth/base.html' %}

{% block main %}
 <div>
 <h2> Oops you landed up at the wrong address. Please go to the <a href="{% url 'portalapp:index' %}">homepage</a> to start over.</h2>

 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
     <li>
       <a href="{% url 'portalapp:create_userinfo' %}">Click here to create your profile</a>
     </li>
   {% else %}
   
     <li>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
     </li>
   {% endif %}
   </ul>
 </p>
</div>
{% endblock %}
