{% extends 'google-auth/base.html' %}

{% block main %}
 <div>
 <h1>Gmail Auth</h1>

 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
     <li>
       <a href="{% url 'portalapp:create_userinfo' %}">Click here to create your profile</a>
     </li>
     <li>
       <a href="{% url 'portalapp:view_userinfo'  %}">View your Profile</a>
     </li>
     <li>
       <a href="{% url 'portalapp:search' %}">Search for alumni</a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
     </li>
   {% endif %}
   </ul>
 </p>
</div>
{% endblock %}
